<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.netelis.retailpos">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.LifecycleActivity"
            android:label="Lifecycle演示" />

        <activity
            android:name=".controller.LiveDataActivity"
            android:label="LiveData演示" />

        <activity
            android:name=".controller.ViewModelActivity"
            android:label="ViewModel演示" />

        <activity
            android:name=".controller.DataBindingActivity"
            android:label="DataBinding演示" />

        <activity
            android:name=".controller.DaggerActivity"
            android:label="Dagger演示" />

        <activity
            android:name=".controller.NavigationActivity"
            android:label="Navigation演示" />

        <activity
            android:name=".controller.WorkManagerActivity"
            android:label="WorkManager演示" />

        <activity
            android:name=".controller.PagingActivity"
            android:label="Paging演示" />

        <activity
            android:name=".controller.RoomActivity"
            android:label="Room演示" />

    </application>

</manifest>